@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'BrighterSansRegular';
  src: url('./assets/fonts/BrighterSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

body {
  margin: 0;
  font-family: "BrighterSansRegular";
  min-height: 320px;
  height: 100vh;
  font-size: 16px;
}
/* .app {
  background: #a8d5e5;
}
h1 {
  color: #165a72;
  margin: 50px auto;
  font-size: 40px;
}
.menu1 {
  margin-bottom: 40px;
  margin-top: 20px;
}
h2 {
  color: #165a72;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
   padding: 4px 0 5px; 
 border: 0;
  box-sizing: content-box;
  background: none;
  height: 0.1em !important;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0;
  width: 100%;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  padding: 16.5px 14px;
} */ 